{% set divider = '<div class="divider"></div>' %}
<!DOCTYPE html>
<html lang="{{ htmllang() }}">

    {% include '_head.twig' %}

    <body>
        <div id="top"></div>
        <div id="wrap">

            {% include '_header.twig' %}
            {% include '_navBar.twig' %}
            {% include '_intro.twig' %}
            {% include '_tiles.twig' %}
            {% include '_presentation.twig' %}
            {% include '_formulaire.twig' %}
            {% include '_footer.twig' %}

        </div>

        <script src="{{ paths.theme }}javascripts/jquery-2.1.0.min.js"></script>
        <script src="{{ paths.theme }}javascripts/bootstrap.min.js"></script>
		<script src="{{ paths.theme }}javascripts/grid.js"></script>
        <script src="{{ paths.theme }}javascripts/smooth-scroll.js"></script>
        <script src="{{ paths.theme }}javascripts/modernizr.custom.js"></script>
        <script src="{{ paths.theme }}javascripts/scripts.js"></script>

        <script>
            $(function() {
                Grid.init();
            });
        </script>


    </body>
</html>